params {
    dataFolder = "$projectDir/data/"
    outdir     = "$projectDir/output"
    prefix     = "100000_variants_10000_samples_5_chromosomes"
    bed        = dataFolder + prefix + ".bed"
    bim        = dataFolder + prefix + ".bim"
    fam        = dataFolder + prefix + ".fam"
    samples    = dataFolder + "samples.txt"
    phenotypes = dataFolder + "phenotype_10000_samples_100cols.txt"
    variantPvalThreshold = 1e-5
    bashPath   = "/bin/bash"
    pythonPath = "/Users/josesho/miniforge3/bin/python"
}

process {
    executor = "local"
    cpus = 6
    memory = "12 GB"
}
