params {
    fullPath = '/Users/josesho/Library/CloudStorage/GoogleDrive-joseshowh@gmail.com/My Drive/temus-gwas-case-study/'
    dataFolder = fullPath + 'data/'
    prefix     = '100000_variants_10000_samples_5_chromosomes'
    bed        = dataFolder + prefix + ".bed"
    bim        = dataFolder + prefix + ".bim"
    fam        = dataFolder + prefix + ".fam"
    samples    = dataFolder + 'samples.txt'
    phenotypes = dataFolder + 'phenotype_10000_samples_100cols.txt'
}

process {
    executor = 'local'
    cpus = 4
    memory = '8 GB'
}
